<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>1022639693564-4oc2qgsqj6f9k5hj6bsaqcr5phgshf3f.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.1022639693564-4oc2qgsqj6f9k5hj6bsaqcr5phgshf3f</string>
		<key>API_KEY</key>
		<string>AIzaSyCURHjUT3ub7PbWypM8dUU7CoyTbc0psgA</string>
		<key>GCM_SENDER_ID</key>
		<string>1022639693564</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>me.sungbin.FriendsDiary</string>
		<key>PROJECT_ID</key>
		<string>friendsdiary-e33d6</string>
		<key>STORAGE_BUCKET</key>
		<string>friendsdiary-e33d6.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:1022639693564:ios:266e5f538ad60a8234c179</string>
	</dict>
</plist>
